body {
    margin: 0;
    padding: 0;
}

main {
    border-radius: 20px;
    width: 90vw;
    margin: auto;
    background-color: #bbbbbb;
    text-align: center;
}

.canvas {
    background-color: #333333;
}

p {
    text-align: left;
    font-size: 25px;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.input {
    display: inline-block;
    background-color: #999999;
    border: solid 1px #000000;
    border-radius: 10px; 
}