body {
    margin: 0;
    padding: 0;
    background-color: #444444;
}

main {
    border-radius: 20px;
    margin: 10px 5vw;
    background-color: #888888;
    text-align: center;
}

.canvas {
    background-color: #333333;
}

h1 {
    margin: 0;
}

p {
    text-align: left;
    font-size: 25px;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

.range-input {
    margin-top: 10px;
    display: inline-block;
    background-color: #999999;
    border: solid 1px #000000;
    border-radius: 10px; 
}

.reset-button {
    color: black;
    background-color: #666666;
    border: 3px solid black;
    margin: 20px;
    font-size: 30px;
}

.reset-button:hover {
    color: #dddddd;
    border-color: #dddddd;
    cursor: pointer;
}